.correct {
    font-weight: 400;
    color: forestgreen;
}

.incorrect {
    font-weight: 400;
    color: red;
}

.hidden {
    display: none;
}

.size-24 {
    font-size: 24px;
}

.size-32 {
    font-size: 32px;
}