@(card: CardView)

@main(s"Translate from ${card.fromLanguage.name} to ${card.toLanguage.name}", moreJsBases = Seq("train")) {
    <h2 class="row">@card.query.value</h2>

    <div class="row">
        <form id="checkForm">
            <div class="input-group">
                <input id="answer" name="answer" type="text" class="input-group-field" placeholder="in @card.toLanguage.name" value="" autocomplete="off" autofocus>
                <div class="input-group-button">
                    <button id="checkButton" type="submit" class="button">Check</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <span class="correct success hidden">Correct :)</span>
        <span class="incorrect alert hidden">Wrong!</span>
    </div>

    <script type="application/javascript">
        window.candidates = [@Html(card.possibleAnswers.toSeq.map(_.value.toLowerCase).map(s => s"'$s'").mkString(", "))];
    </script>
}